@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

html, body {
    box-sizing: border-box;
}

html, body, figure {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto Light", sans-serif;
}

h1, h2, .title a {
    font-family: "Roboto", sans-serif;
}

.main_wrap {
    width:90%;
    margin: auto;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Header */
.header-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title, footer {
    padding: 0.3rem;
    margin: 0;
}

.title h1 {
    font-size: 1.3rem;
    font-style: italic;
}

/* Nav menu button */
.nav-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.nav-btn img {
    width: 3.5rem;
    border-radius: 0.5rem;
}

/* Nav menu and other links */
nav {
    display: none;
}

nav.show {
    display: block;
}

nav ul {
    text-align: center;
}

nav a:link, nav a:visited {
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.2rem;
}

a.plain_link:link, a.plain_link:visited {
    text-decoration: none;
}

ul.plain_list {
    list-style-type: none;
    margin: 1.5rem 0 0 0;
    padding: 0;
}

.contact_list {
    display: flex;
    justify-content: right;
    gap: 0.9rem;
}

.align-right {
    text-align: right;
}

/* Home Page */
img.profile {
    width: 100%;
    border-radius: 50%;
}

.home_title {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 0.5rem;
}

/* Wide Screen */
@media screen and (min-width: 1080px) {
    /* Header */
    .title h1 {
        font-size: 1.9rem;
    }

    /* Nav bar */
    nav {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav-btn {
        display: none;
    }

    nav ul {
        display: flex;
        margin: 0;
    }

    nav a:link, nav a:visited {
        font-size: 1.5rem;
    }

    /* Home Page */
    .home_title {
        grid-template-columns: 10% 1fr;
        gap: 1.5rem;
    }
}