@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

html, body {
    box-sizing: border-box;
}

html, body, figure {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto Light", sans-serif;
}

h1, h2, .title a {
    font-family: "Roboto", sans-serif;
}

/* Header */
.header-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title h1 {
    font-size: 1.5rem;
    font-style: italic;
    padding: 0.3rem;
    margin: 0;
}

.title a:link, .title a:visited {
    text-decoration: none;
}

/* Nav menu button */
.nav-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.nav-btn img {
    width: 3.5rem;
    border-radius: 0.5rem;
}

/* Nav menu */
nav {
    display: none;
}

nav.show {
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 1.5rem 0 0 0;
    padding: 0;
    text-align: center;
}

nav a:link, nav a:visited {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
}

/* Wide Screen */
@media screen and (min-width: 1080px) {
    /* Header */
    .title h1 {
        font-size: 1.9rem;
    }

    /* Nav bar */
    nav {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav-btn {
        display: none;
    }

    nav ul {
        display: flex;
        margin: 0;
    }

    nav a:link, nav a:visited {
        font-size: 1.5rem;
    }
}