@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

html, body {
    box-sizing: border-box;
}

html, body, figure {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto Light", sans-serif;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
}

/* Nav menu button */
.nav-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.nav-btn img {
    width: 3.5rem;
    border-radius: 0.5rem;
}

/* Nav menu */
nav {
    display: none;
}

nav.show {
    display: block;
}