{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Katie Janzen - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="main_wrap">
        <header>
           <div class="header-wrap">
               <div class="title">
                   <h1><a href="{% url 'home' %}" class="plain_link">Katie Janzen - Web Developer</a></h1>
               </div>
               <figure class="nav-btn" id="nav-display">
                   <img src="{% static 'images/nav_icon.png' %}" alt="nav button icon">
               </figure>
           </div>
           <nav id="navbar">
               <ul class="plain_list">
                   <li><a class="plain_link" href="{% url 'home' %}">Home</a></li>
                   <li><a class="plain_link" href="{% url 'about' %}">About</a></li>
                   <li><a class="plain_link" href="{% url 'projects' %}">Projects</a></li>
                   <li><a class="plain_link" href="{% url 'contact' %}">Contact</a></li>
               </ul>
           </nav>
       </header>
        <main>

            {% block content %}{% endblock %}

        </main>
        <footer>
            <ul class="contact_list plain_list">
                <li><a href="https://github.com/ImpendingKataclysm" target="_blank"><img src="{% static 'images/github-mark-white.png' %}" alt="GitHub logo"></a></li>
                <li><a href="#" target="_blank"><img src="{% static 'images/linkedIn_logo_initials.png' %}" alt="LinkedIn logo"></a></li>
                <li><a href="{% url 'contact' %}"><img src="{% static 'images/email-icon.png' %}" alt="Email icon"></a></li>
                <li><a href="#" target="_blank"><img src="{% static 'images/resume.png' %}" alt="Resume icon"></a></li>
            </ul>
            <ul class="plain_list align-right">
                <li><small><a class="plain_link" href="https://www.freepnglogos.com/pics/email" target="_blank">Email from freepnglogos.com</a></small></li>
                <li><small><a class="plain_link" href="https://www.flaticon.com/free-icons/curriculum" title="curriculum icons">Curriculum icons created by Freepik - Flaticon</a></small></li>
            </ul>
        </footer>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>