{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Katie Janzen - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div>
       <header>
           <div class="header-wrap">
               <div class="title">
                   <a href="{% url 'home' %}">Katie Janzen - Web Developer</a>
               </div>
               <figure class="nav-btn" id="nav-display">
                   <img src="{% static 'images/nav_icon.png' %}" alt="nav button icon">
               </figure>
           </div>
           <nav id="navbar">
               <ul>
                   <li><a href="{% url 'home' %}">Home</a></li>
                   <li><a href="{% url 'about' %}">About</a></li>
                   <li><a href="{% url 'projects' %}">Projects</a></li>
                   <li><a href="{% url 'contact' %}">Contact</a></li>
               </ul>
           </nav>
       </header>
        <main>
            <h1>{% block heading %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </main>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>