{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
    <h2>Katie Janzen</h2>
    <p>Nice to meet you!</p>
    <section>
        <h2>A little bit about me...</h2>
        <p>{% lorem %}</p>
        <p><a href="{% url 'about' %}">More details here!</a></p>
    </section>
    <section>
        <h2><a href="{% url 'projects' %}">My projects</a></h2>
        <p>{% lorem %}</p>
    </section>
    <section>
        <h2><a href="{% url 'contact' %}">Get in touch</a></h2>
        <p>{% lorem %}</p>
    </section>
{% endblock %}0