{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block content %}
    <div class="page_head">
        <div class="home_title">
            <figure>
                <img src="{% static 'images/profile.jpg' %}" alt="picture of the page author" class="profile">
            </figure>
            <div>
                <h2>Katie Janzen</h2>
                <p>Nice to meet you!</p>
            </div>
        </div>
    </div>
    <div class="link_container">
        <ul class="link_list">
            <li><a class="plain_link home_link" href="{% url 'about' %}">A little bit about me...</a></li>
            <li><a class="plain_link home_link" href="{% url 'projects' %}">Check out some of my work</a></li>
            <li><a class="plain_link home_link" href="{% url 'contact' %}">Get in touch</a></li>
        </ul>
    </div>
{% endblock %}0