{% extends 'base.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}
{% block content %}
    <section>
        <h2>My Projects</h2>
        <dl class="project_list">
        {% for row in project_list %}
            <div class="project">
                <dt>{{ row.name }}</dt>
                <dd>{{ row.description }}</dd>
                <dd>
                    <figure class="project_img">
                        <img src="{% static row.image_url %}" alt="{{ row.image_alt }}">
                    </figure>
                </dd>
                <dd><a class="project_src_link" href="{{ row.source_code_url }}" target="_blank"><img src="{% static 'images/github-mark.png' %}" alt="GitHub logo"> Source Code</a></dd>
                {% if row.live_url %}
                    <dd><a href="{{ row.live_url }}" target="_blank">View Live</a></dd>
                {% endif %}
            </div>
        {% endfor %}
        </dl>
    </section>
{% endblock %}