{% extends 'base.html' %}

{% block title %}Portfolio{% endblock %}
{% block heading %}Project Portfolio{% endblock %}
{% block content %}
    <p>Here are some projects that I've built:</p>
    <dl>
    {% for row in project_list %}
        <dt>{{ row.name }}</dt>
        <dd>{{ row.description }}</dd>
        <dd><img src="{{ row.imag_url }}" alt="{{ row.image_alt }}"></dd>
        <dd><a href="{{ row.source_code_url }}" target="_blank">View Source Code</a></dd>
        {% if row.live_url %}
            <dd><a href="{{ row.live_url }}" target="_blank">View Live</a></dd>
        {% endif %}
    {% endfor %}
    </dl>
{% endblock %}